# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\ASUS\Documents\faculdade\4 ano\1ºsemestre\ADRC\ADRC-Project-InternetConnectivity\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
